*{
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    
}
.fakeBody{
    width: 850px;
    height: calc(425px * 4 - 220px);
    margin: 0 auto;
}
.bigCube{
    width: 50%;
    height: 425px;
    min-width: 50%;
    border: white 5px solid;
    float: left;
}
.bigCubeTitle{
    background-image: url(./assets/building2.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.bigCubeTitle h1{
    font-weight: bold;
    color: white;   
}
.bigCubeIMG{
    background-image: url(./assets/building1.jpg);
    background-size: cover;
}
.demiCube{
    height: 50%;
    width: 100%;
    background-color: #5f9300;
    border: 0px solid white;
    border-bottom: 5px white solid;
    float: left;
}
.demiCube h3{
    text-align: center;
    color: white;
    font-weight: lighter;
    margin-top: 55px;
    margin-bottom: auto;
    font-size: 30px;
}
.demiCube h2{
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: auto;
    font-size: 40px;
}
.demiCube2{
    width: 418px;
    height: 200px;
    border: 5px solid white;
    border-left-width: 9px;
    float: left;
}
.littleCube{
    width: 50%;
    height: 50%;
    float: left;
    padding: 20px;
    border: 5px solid white;
}

.littleCube°°{
    border: #F2EAE1 solid 5px;
    background-color: transparent;
}
.littleCube°° img{

    margin-top: 20px;
    max-width: 20px;
}
.littleCube°° p{
    margin: auto;
}
.littleCube°°2{
    height: 100%;
}
.littleCubeSun{
    background-color: #F2EAE1;
}
.littleCubeSun h2{
    color: #2d2f32;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.littleCubeSun p{
    color: #2d2f32;
    text-align: center;
    margin: auto;
}
.littleCubeBurger{
    background-image: url(./assets/food1.jpg);
    background-size: cover;
}
.littleCubeMap{
    background-image: url(./assets/map.png);
    background-size: cover;
}
.littleCubeDL{
    background-color: #F2EAE1;
}
.littleCubeDL h2{
    color: #5f9300;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 40px;
}
.littleCubeCuisto{
    background: url(./assets/chef.jpg);
    background-size: cover;
}
.littleCubePhilo{
    background-color: #fff;
    border: 5px solid #F2EAE1;
}
.littleCubePhilo h2{
    color: #5f9300;
    font-weight: bold;
}
.littleCubeTacos{
    background-image: url(./assets/food2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border: 0px solid transparent;
    border-right: white 5px solid;
}



footer{
    border-top: 1px solid #2d2f32;
    height: 100px;
    width: 850px;
    margin: 0 auto;
}
footer p{
    float: left;
    margin-left: 5px;
    margin-top: 20px;
    color: #2d2f32;
}
footer ul{
    list-style: none;
    float: right;
    margin-top: 20px;
}
footer ul li{
    float: left;
    max-width: 30px;
    margin-left: 15px;
}
footer ul li i{
    font-size: 30px;
    color: #5f9300;
}
footer p mark{
    background-color: unset;
    color: #5f9300;
}


@media (max-width: 880px) and (min-width: 611px){
    .fakeBody{
        width: 600px;
        height: calc(425px * 4 - 360px);
    }
    .bigCube{
        height: 290px;
    }
    .littleCube{
        display: none;
    }
    .littleCube°°, .littleCubeSun, .littleCubeBurger, .littleCubeMap, .littleCubeDL, .littleCubeCuisto, .littleCubeTacos, .littleCube°°2, .littleCubePhilo {
        display: block;
    }
    .littleCube°°{
        width: 100%;
        height: 100%;
        padding-top: 100px;
    }
    .littleCubeMap{
        width: 100%;
        background-position: center center;
    }
    .littleCubeDL{
        width: 100%;
    }
    .littleCubeDL h2{
        margin-top: 15px;
    }
    .bigCubeDL{
        float: right;
    }
    .bigCubePhilo{
        height: 440px;
        width: 100%;
        margin-top: -290px;
    }
    .demiCube{
        width: 50%;
        height: 140px;
        border: 5px solid white;
        margin-bottom: 10px;
    }
    .demiCube h3{
        margin-top: 20px;
    }
    .littleCubeCuisto{
        width: 50.1%;
        height: 290px;
    }
    .littleCubePhilo{
        width: 49.9%;
        height: 290px;
    }

    .demiCube2{
        width: 100%;
    }
    .littleCubeTacos{
        width: 50%;
        height: 290px;
    }
    .littleCube°°2{
        width: 50%;
        height: 290px;
    }
    footer{
        width: 600px;
    }
}

@media (max-width: 610px) and (min-width: 0px){
    .fakeBody{
        width: 400px;
        height: 3440px;
    }
    .bigCube{
        height: 400px;
        width: 100%;
    }
    .littleCube{
        display: none;
    }
    .littleCube°°, .littleCubeSun, .littleCubeBurger, .littleCubeMap, .littleCubeDL, .littleCubeCuisto, .littleCubeTacos, .littleCube°°2, .littleCubePhilo, .littleCubeIMG {
        display: block;
    }
    .littleCube°°{
        width: 100%;
        height: 100%;
        padding-top: 100px;
    }
    .bigCubeMap{
        height: 1000px;
    }
    .littleCubeBurger, .littleCubeSun{
        height: 200px;
    }
    .littleCubeSun{
        width: 100%;
        height: 400px;
        padding-top: 100px;
    }
    .littleCubeMap{
        width: 100%;
        height: 400px;
        background-position: center center;
    }
    .littleCubeIMG{
        background-image: url(./assets/building1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
    }
    .bigCubeIMG{
        display: none;
    }


    .demiCube{
        height: 200px;
    }
    .bigCubePhilo{
        height: 1010px;
    }
    .littleCubeCuisto{
        width: 100%;
        height: 400px;
    }
    .littleCubePhilo{
        width: 100%;
        height: 400px;
    }
    .littleCubeDL{
        width: 100%;
        height: 100%;
        padding-top: 120px;
    }
    .littleCube°°2{
        width: 50%;
        padding-top: 20px;
    }
    .demiCube2{
        width: 100%;
    }
    footer{
        width: 400px;
    }
    footer p{
        margin-left: 70px;
    }
    footer ul{
        margin-right: 115px;
        margin-top: 0px;
    }
}