*{
    box-sizing: border-box;
}
body{
    background-color: gray;
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    
}
.fakeBody{
    width: 850px;
    border: 2px black solid;
    height: calc(425px * 3 + 4px);
    margin: 0 auto;
}
.bigCube{
    width: 50%;
    height: 425px;
    min-width: 50%;
    border: gray 5px solid;
    float: left;
}
.bigCubeTitle{
    background-image: url(./assets/building2.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.bigCubeTitle h1{
    font-weight: bold;
    color: white;   
}
.bigCubeIMG{
    background-image: url(./assets/building1.jpg);
    background-size: cover;
}
.demiCube{
    height: 50%;
    width: 100%;
    background-color: #5f9300;
    float: left;
}


.littleCube{
    width: 50%;
    height: 50%;
    background-color: #000;
    float: left;
    padding: 20px;
    border: 5px solid gray;
}
.littleCube°°{
    border: #F2EAE1 solid 5px;
    background-color: transparent;
}
.littleCube°° img{

    margin-top: 20px;
    max-width: 20px;
}
.littleCube°° p{
    margin: auto;
}
.littleCubeSun{
    background-color: #F2EAE1;
}
.littleCubeSun h2{
    color: #2d2f32;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.littleCubeSun p{
    color: #2d2f32;
    text-align: center;
    margin: auto;
}
.littleCubeBurger{
    background-image: url(./assets/food1.jpg);
    background-size: cover;
}
.littleCubeMap{
    background-image: url(./assets/map.png);
    background-size: cover;
}